html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background: #222;
  color: #fff;

  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0;
}

.container {
  background: #222;
  transition: 0.5s;
  box-shadow: inset aquamarine 0px 0px 0px 0px;
  height: 100vh;
  width: 100vw;
}

.container.dragging {
  background: #000;
  box-shadow: inset rgb(247, 0, 255, 0.7) 0px 1px 0px 50px;
}

a {
  color: aquamarine;
}

.row {
  display: flex;
  letter-spacing: 0.1em;
  width: 100%;
}

.row div {
  padding: 0.2em;
  flex: 1;
  white-space: nowrap;
}

.row div:nth-child(1) {
  background-color: aqua;
  color: #000;
  flex: 0;
}

.row div:nth-child(2) {
  padding: 0.2em 3em;
  flex: 3;
}

.byte {
  background-color: #000;
}

header {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4em;

  padding: 1em;
  box-shadow: #000 0 0 10px;
  z-index: 1;
}

header > div {
  display: flex;
  gap: 1em;
}

main {
  overflow: auto;
  position: absolute;
  top: 4em;
  left: 0;
  bottom: 0;
  right: 0;
}
