body {
  font-family: monospace;
  background: #222;
  color: #fff;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0;
}

main {
  background: #222;
  transition: 0.5s;
  box-shadow: inset aquamarine 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

main.dragging {
  background: #000;
  box-shadow: inset rgb(247, 0, 255, 0.7) 0px 1px 0px 50px;
}

a {
  color: aquamarine;
}

.row {
  display: flex;

  width: 100%;
}

.row div {
  padding: 0.2em;
  flex: 1;
  white-space: nowrap;
}

.row div:nth-child(1) {
  background-color: aqua;
  color: #000;
  flex: 0;
}

.row div:nth-child(2) {
  padding: 0.2em 3em;
  flex: 3;
}

.byte {
  background-color: #000;
}

header {
  display: flex;
  gap: 1em;
  position: sticky;
}

.container {
  height: 100%;
  padding: 1em;
}
