body {
  font-family: sans-serif;
  background: #333;
  color: #fff;
}

a {
  color: aquamarine;
}

section:target {
  color: red;
}

table {
  font-family: monospace;
}

.byte {
  background-color: #000;
}
